.video-js {
  height: 50%;
  width: 50%;
}
.overlayTextTitle {
  font-weight: bold;
  font-size: 18px;
  color: red;
}
.overlayTextVideo {
  font-size: 16px;
}
.nowPlaying {
  padding-top: 10px;
  padding-left: 10px;
}
.nextInQueue {
  text-align: right;
  float: right
}
.nextInQueueVideo {
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 10px;
  float: right;
}