.video-js {
  height: 50%;
  width: 50%;
}
.overlayTextTitle {
  font-weight: bold;
  font-size: 18px;
  color: red;
}
.overlayTextVideo {
  font-size: 16px;
}
.nowPlaying {
  padding-top: 10px;
  padding-left: 10px;
}
.nextInQueue {
  text-align: right;
  float: right
}
.nextInQueueVideo {
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 10px;
  float: right;
}
.playlistContainer {
  z-index: 1000;
  height: 100px;
  position:absolute;
  bottom:30px;
}
.playlist-video-thumbnail-delete {
  height: 30px;
  width : 30px;
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  background-color : red;
  color: white;
  position:absolute;
}
.playlist-video-thumbnail {
  background-size: 150px 75px;
  float: left;
  width: 150px;
  height: 75px;
  background-repeat: no-repeat;
}
.vjs-addcurrentvideo-control {
  -webkit-box-ordinal-group: 5;
  -moz-box-ordinal-group: 5;
  -webkit-order: 5;
  -ms-flex-order: 5;
  -ms-order: 5;
  order: 5;
  top:5px;
}
.vjs-playlist-control {
  -webkit-box-ordinal-group: 5;
  -moz-box-ordinal-group: 5;
  -webkit-order: 5;
  -ms-flex-order: 5;
  -ms-order: 5;
  order: 5;
  top:5px;
}
